eww/eww.scss
eww/eww.yuck
eww/launch_bar
eww/images/mic.png
eww/images/music.png
eww/images/profile.png
eww/images/speaker.png
eww/scripts/battery
eww/scripts/mem-ad
eww/scripts/memory
eww/scripts/music_info
eww/scripts/pop
eww/scripts/wifi
eww/scripts/workspace
eww/test/eww.scss
eww/test/eww.yuck
dotfiles.code-workspace
zsh/*
