# Packages
hyprland
swaync
pipewire
wireplumber
polkit-kde-agent
wofi
brightnessctl
xdg-desktop-portal-hyprland
xdg-desktop-portal-gtk
qt5-wayland
qt6-wayland
polkit-gnome
waybar
aylurs-gtk-shell
eww-git
waypaper-git
wl-clipboard
hyprpaper
blueman

extra/xwaylandvideobridge

apple-fonts
ttf-cascadia-code-nerd
ttf-cascadia-mono-nerd

zsh

asusctl
supergfxctl

visual-studio-code-bin
github-cli

slurp
grim

# Commands
gsettings set org.gnome.desktop.interface color-scheme prefer-dark
gsettings set org.gnome.desktop.interface gtk-theme Adwaita

# List pacman packages by install time
awk '/\[ALPM\] installed/ { print $(NF-1) }' /var/log/pacman.log
