window#waybar {
  background: rgba(127, 127, 127, 0.5)
}

* {
  min-height: 24px;
  font-size: 16px;
  border: none;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

#window,
#network,
#backlight,
#pulseaudio,
#bluetooth,
#cpu,
#temperature,
#battery,
#clock {
  color: #dddddd;
}

#network,
#backlight,
#pulseaudio,
#bluetooth,
#cpu,
#temperature,
#battery,
#clock {
  font-family: 'SF Mono';
  font-weight: 600;
  padding: 0px 4px;
}

#clock {
  padding: 0px 12px;
}

#window {
  font-family: 'SF Compact Display';
  font-weight: 600;
  padding-left: 12px;
}

#workspaces button {
  color: #ddd;
  background: transparent;
  border: none;
  padding: 0px 2px;
  margin: 0px 2px;
}

#workspaces button:hover {
  color: #fff;
  background: transparent;

}

@keyframes charging-animation {
  to {
    color: #5bc236;
  }
}

#battery.cap.charging {
  animation: charging-animation 2s steps(24) infinite alternate;
}

@keyframes warning-animation {
  to {
    color: #ff5f15;
  }
}

#battery.cap.warning:not(.charging) {
  animation: warning-animation 1s steps(12) infinite alternate;
}

@keyframes critical-animation {
  to {
    color: #ff1515;
  }
}

#battery.cap.critical:not(.charging) {
  animation: critical-animation 0.5s steps(6) infinite alternate;
}