window#waybar {
  background: rgba(127, 127, 127, 0.5)
}

* {
  min-height: 10px;
  font-size: 16px;
  border: none;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

#window,
#network,
#backlight,
#pulseaudio,
#bluetooth,
#cpu,
#temperature,
#battery,
#clock {
  color: #dddddd;
}

#window {
  font-family: 'SF Compact Display';
  font-weight: 600;
  padding-left: 12;
}

#workspaces button {
  color: #ddd;
  background: transparent;
  border: none
}

#workspaces button:hover {
  color: #fff;
  background: transparent;

}

#network,
#backlight,
#pulseaudio,
#bluetooth,
#cpu,
#temperature,
#battery,
#clock {
  font-family: 'SF Mono';
  font-weight: 600;
  padding: 0 4;
}

#clock {
  padding: 0 12;
}

@keyframes blink {
  to {
    color: #dddddd;
  }
}

#battery.cap.warning,
#battery.cap.critical,
#battery.cap.charging {
  animation: none;
  animation-name: blink;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.cap.warning {
  color: #ff5f15;
  animation-duration: 0.25s;
}

#battery.cap.critical {
  color: #ff1515;
  animation-duration: 0.5s;
}

#battery.cap.charging {
  color: #5bc236;
  animation-duration: 2s;
}