$background-color: #111;
$color: #eee;
$button-color: #f00;

window {
    &.bar {
        background-color: $background-color;
        color: $color;
    }
    
    &.notification-popups {
        box {
            &.notifications {
                padding: .5em;
            }
        }
    }
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    
    &:active {
        background-color: green;
    }
    
    &:hover {
        border-bottom: 3px solid $button-color;
    }
}

label {
    font-weight: bold;
}

.actions {
    .action-button {
        margin: 0 .4em;
        margin-top: .8em;
        
        &:first-child {
            margin-left: 0;
        }
        
        &:last-child {
            margin-right: 0;
        }
    }
}

.title {
    color: #fff;
    font-size: 1.4em;
}

.body {
    color: #999;
}

.client-title {
    color: purple;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;

    image {
        font-size: 58px;
        margin: 5px;
        color: rosybrown;
    }

    box {
        min-width: 68px;
        min-height: 68px;
        border-radius: 7px;
    }
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid orangered;
    background-color: orange;

    .critical {
        border: 1px solid lightcoral;
    }
}

.workspaces {
    button {
        &.focused {
            border-bottom: 3px solid peru;
        }
    }
}

levelbar {
    block {
        min-height: 10px;
    }
}

highlight {
    min-height: 10px;
}