window.bar {
  background-color: #111;
  color: #eee; }

window.notification-popups box.notifications {
  padding: .5em; }

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent; }
  button:active {
    background-color: green; }
  button:hover {
    border-bottom: 3px solid #f00; }

label {
  font-weight: bold; }

.actions .action-button {
  margin: 0 .4em;
  margin-top: .8em; }
  .actions .action-button:first-child {
    margin-left: 0; }
  .actions .action-button:last-child {
    margin-right: 0; }

.title {
  color: #fff;
  font-size: 1.4em; }

.body {
  color: #999; }

.client-title {
  color: purple; }

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em; }
  .icon image {
    font-size: 58px;
    margin: 5px;
    color: rosybrown; }
  .icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px; }

.notification {
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: .5em;
  border: 1px solid orangered;
  background-color: orange; }
  .notification .critical {
    border: 1px solid lightcoral; }

.workspaces button.focused {
  border-bottom: 3px solid peru; }

levelbar block {
  min-height: 10px; }

highlight {
  min-height: 10px; }
