@keyframes warning {
  to {
    background-color: #d19a66;
  }
}
@keyframes critical {
  to {
    background-color: #e06c75;
  }
}

top-bar {
  background: #1e21279f;

  font-family: "SF Mono";
  font-size: 1rem;
  font-weight: 500;

  .workspace-button {
    background: #56b6c2;
    border-radius: 9999rem;
    min-width: 1rem;
    min-height: 1rem;
    padding: 0;
    margin: 0.25rem;
    transition: 100ms linear;

    &.occupied {
      background: #61afef;
    }

    &.focused {
      min-width: 2.4rem;
    }

    &:hover {
      opacity: 90%;
    }
  }

  .button-widget {
    background: #56b6c2;
    border-radius: 9999rem;
    line-height: 1rem;
    padding: 0.2rem 0.5rem;
    min-height: 1rem;
    min-width: 1rem;

    &:hover {
      opacity: 90%;
    }
    &.nvidia-stats {
      background: #98c379;
    }

    &.battery-charging {
      background: #98c379;
    }

    &.battery-low {
      animation: warning 2s infinite steps(10) alternate;
    }

    &.battery-critical {
      animation: critical 0.5s infinite steps(10) alternate;
    }

    .tray-item {
      min-height: 0;
      min-width: 0;
      padding: 0;
      margin: 0;
    }
  }
}

control-center {
  background: #1e21277f;
  color: #ffffff;

  border-radius: 1rem;

  .control-center-page {
    .page-header {
      button {
        min-width: 2rem;
        min-height: 2rem;
        border-radius: 50rem;
      }
      label {
        font-size: 1.4rem;
        font-weight: 700;
      }
    }

    .page-content {
      button {
        image {
          /* -gtk-icon-size: 1.2rem; */
        }
        label {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }

  label {
    font-family: "SF Mono";

    &.qs-title {
      font-size: 0.9rem;
      font-weight: 900;
    }
    &.qs-subtitle {
      font-size: 0.8rem;
      font-weight: 600;
    }
  }

  .qs-button-rounded {
    border-radius: 50rem;
    background-color: #56b6c2dd;
  }

  .qs-button-left-rounded {
    border-radius: 50rem 0 0 50rem;
    background-color: #56b6c2dd;
  }

  .qs-button-right-rounded {
    border-radius: 0 50rem 50rem 0;
    background-color: #56b6c2;
  }
}

app-launcher {
  border-radius: 2rem;
  background: #1e21273f;
  padding: 0.5rem;

  .main-box {
    padding: 0.5rem;
    border-radius: 1rem;
  }

  entry {
    background: #1e21271f;
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    border-radius: 1rem 1rem 0 0;
  }

  .apps-box {
    border-radius: 0 0 1rem 1rem;

    button {
      background: #1e21271f;
      border-radius: 1rem;

      &:focus {
        background: #56b6c2;
      }
    }
  }
}
